<a href="https://colab.research.google.com/github/mallaribs01/CCINCOML_EXERCISES_COM23P/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [5]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [10]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [12]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

months[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [14]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

months[:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [15]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(len(months))

12

- Get the element with the largest value of the month list using `max()`

In [16]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(max(months))

September

- Get the element with the smallest value of the month list using `min()`

In [17]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(min(months))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [18]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(sorted(months))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [26]:
birthday = (6, 1, 2004)
month, day, year = birthday
print("My birthdate is:", str(month) + "/" + str(day) + "/" + str(year))

My birthdate is: 6/1/2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [30]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [39]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

unique_prod = set(products)
print(unique_prod)

{'laptop', 'headphones', 'powerbank', 'keyboard', 'smartphone', 'tablet', 'projector', 'speakers', 'monitor', 'mouse', 'printer'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [23]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [38]:
favorites = {"food": 'friedchicken', "color": 'blue', "sport": 'badminton', "drink": 'mangojuice', "dessert": 'cheesetart'}
print(favorites)

{'food': 'friedchicken', 'color': 'blue', 'sport': 'badminton', 'drink': 'mangojuice', 'dessert': 'cheesetart'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [62]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for x in months:
  print(x)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [89]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for m in months:
  if m.find('ber') > 0:
    print(m)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [90]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for m in months:
  if m.find('ber') < 0:
    print(m)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [87]:
for n in range(5):
  print("Bherliane Mhae")

Bherliane Mhae
Bherliane Mhae
Bherliane Mhae
Bherliane Mhae
Bherliane Mhae

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [105]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

username = []
for n in names:
  username.append(n.lower().replace(" ","_"))
print(username)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [119]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for m in months:
  if m.find('ber') > 0:
    break
  print(m)

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [54]:
def population_density(population, land_area):
  return population / land_area

population_density(1500,150)

10.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [130]:
steps = [100, 150, 200, 200, 150, 500, 450]


def averagesteps(steps):
  sum = 0
  for i in steps:
    sum = sum + i

  avg = sum / 7
  return avg

averagesteps(steps)

250.0